# Python
__pycache__/
*.pyc

# Environment
.env
venv/
env/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project Specific
data/brain_mri/
outputs/
outputs_classical/
experiments/output/
coverage.xml
.coverage
htmlcov/
